<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Type a Message</h1>
    <form method="post" action="/new">
    <label for="UserName"> User </label>
    <input type="text" id="UserName" name="UserName">
    <label for="texts">Text</label>
    <input type="text" id="texts" name="texts">
    <button type="submit">Send</button>
</form>
    
</body>
</html>
