<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Mini Message Board</h1>
    <div class="chatBox">
        <% for(let i=0; i<messages.length; i++) {%>
            <p>
                <span class="user"><%= messages[i].user %>:</span>
                <span class="message"> <%= messages[i].text %></span>
            </p>
        <% } %>
    </div>    
    <button class="indexButton" type="button"><a href="/new">New message</a></button>
</body>
</html>